@model Projeto_Integrador_Senac.Models.Cliente

@{
    ViewData["Title"] = "Delete";
}

<h1>Deletar</h1>

<h3>Você tem certeza que deseja deletar isso?</h3>
<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Nome
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cliente_Nome)
        </dd>
        <dt class = "col-sm-2">
            Sobrenome
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cliente_Sobrenome)
        </dd>
        <dt class = "col-sm-2">
            Data de Nascimento
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cliente_Dt_Nasc)
        </dd>
        <dt class = "col-sm-2">
            Celular
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cliente_Celular)
        </dd>
        <dt class = "col-sm-2">
            Email
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cliente_Email)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Cliente_ID" />
        <input type="submit" value="Deletar" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar para a lista</a>
    </form>
</div>
